/* You can add global styles to this file, and also import other style files */

@use '../projects/ngx-datatable/src/lib/themes/material';
@use '../projects/ngx-datatable/src/lib/themes/dark';
@use '../projects/ngx-datatable/src/lib/themes/bootstrap';

.datatable-example-card .datatable-example {
  display: flex;
  block-size: 100%;

  ngx-datatable {
    flex: 1;
    box-shadow: none !important;
  }
}
