name: Release
on:
  workflow_dispatch:

jobs:
  build-and-test:
    uses: ./.github/workflows/test_and_deploy.yml
    secrets:
      CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}

  publish:
    runs-on: ubuntu-24.04
    needs:
      - build-and-test
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # semantic-release needs this
          token: ${{ secrets.ELEMENT_BOT_GITHUB_TOKEN }} # Otherwise, branch protection rules are not bypassed.
      - uses: actions/setup-node@v6
        with:
          node-version: lts/krypton
          cache: 'npm'
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist
      - run: npm ci --prefer-offline --no-audit
      - run: npx semantic-release
        env:
          GIT_AUTHOR_NAME: 'Siemens Element Bot'
          GIT_AUTHOR_EMAIL: 'simpl.si@siemens.com'
          GIT_COMMITTER_NAME: 'Siemens Element Bot'
          GIT_COMMITTER_EMAIL: 'simpl.si@siemens.com'
          GITHUB_TOKEN: ${{ secrets.ELEMENT_BOT_GITHUB_TOKEN }}

  publish-documentation:
    runs-on: ubuntu-24.04
    permissions:
      pages: write
      id-token: write
    needs:
      - publish
    steps:
      # semantic release will update the package.json version so
      # we need to build the artifacts again to have the correct version number in the docs.
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.ELEMENT_BOT_GITHUB_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: lts/krypton
          cache: 'npm'
      - run: npm ci --prefer-offline --no-audit
      - run: npm run build:lib:prod
      - run: npm run build:prod
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: 'dist/ngx-datatable-examples'
      - uses: actions/deploy-pages@v4
